.primero {
  color: red;
}

.segundo {
  color: orange;
}

.tercero {
  color: green;
}

.cuarto {
  color: yellow;
}

header {
  margin: 100px 0px;
}

footer {
  background-image: linear-gradient(to left, rgb(20, 59, 235), rgb(107, 255, 127));
}
footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-between;
  align-items: none;
  padding: 0%;
  margin: 0%;
  list-style-type: none;
}
footer ul p {
  text-align: center;
  margin-top: 5%;
}

body {
  background-image: linear-gradient(to top, #02012f, rgb(0, 97, 114), rgb(0, 97, 114), #02012f);
}

#main-index #bloque1 {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
}
@media (max-width: 576px) {
  #main-index #bloque1 {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
  }
}
#main-index #bloque1 .seccion, #main-index #bloque1 .seccion2, #main-index #bloque1 .seccion1 {
  color: beige;
  margin: 0% 5%;
  background-image: linear-gradient(to left, rgb(119, 0, 99), rgb(170, 0, 0));
  width: 40%;
  border-radius: 30px;
}
@media (max-width: 576px) {
  #main-index #bloque1 .seccion1 {
    width: 80%;
    margin: 10% 0%;
  }
}
#main-index #bloque1 .seccion1 h1 {
  text-align: center;
}
#main-index #bloque1 .seccion1 img {
  border-radius: 30px;
  margin: 5% 17%;
}
@media (max-width: 576px) {
  #main-index #bloque1 .seccion1 img {
    width: 80%;
    margin: 5% 10%;
  }
}
#main-index #bloque1 .seccion1 p {
  margin: 5% 10%;
}
@media (max-width: 576px) {
  #main-index #bloque1 .seccion2 {
    width: 80%;
    margin: 10% 0%;
  }
}
#main-index #bloque1 .seccion2 h2 {
  text-align: center;
}
#main-index #bloque1 .seccion2 .records {
  text-align: center;
  margin: 5% 0%;
}
#main-index #bloque1 .seccion2 iframe {
  position: relative;
  top: 0px;
  left: 16%;
}
#main-index #bloque1 .seccion2 h4 {
  margin: 10px 10px;
}
#main-index #bloque1 .seccion2 a {
  margin: 20px;
  text-decoration: none;
}
#main-index .seccion3 {
  background-image: linear-gradient(to left, rgb(119, 0, 99), rgb(170, 0, 0));
  border-radius: 50px;
  width: 75%;
  color: beige;
  margin: 5% 12%;
}
#main-index .seccion3 h2 {
  text-align: center;
}
#main-index .seccion3 ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0%;
}
@media (max-width: 576px) {
  #main-index .seccion3 ol {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
  }
}
#main-index .seccion3 ol li {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: center;
  list-style-type: none;
  width: 33%;
  margin: 2% 0%;
}
@media (max-width: 576px) {
  #main-index .seccion3 ol li {
    width: 70%;
  }
}
#main-index .seccion3 ol li p {
  margin: 5% 0%;
}
#main-index .seccion3 ol li .seccion3-img {
  width: 45%;
  border-radius: 25px;
  padding: 3%;
}
#main-index .seccion3 ol li .seccion3-img:hover {
  border-radius: 15px;
  padding: 0%;
  transform: rotate(360deg);
  transition: transform 0.2s ease;
}

#main-info h1 {
  color: beige;
  background-image: linear-gradient(to left, rgb(119, 0, 99), rgb(170, 0, 0));
  margin: 4% 25%;
  border-radius: 10px;
  text-align: center;
}
#main-info .p-info {
  color: beige;
  position: relative;
  width: 50%;
  text-align: center;
  margin: 0% 25%;
}
@media (max-width: 576px) {
  #main-info .p-info {
    width: 80%;
    margin: 0% 10%;
  }
}
#main-info h2 {
  color: beige;
  background-image: linear-gradient(to left, rgb(119, 0, 99), rgb(170, 0, 0));
  width: 100%;
  height: 6%;
  margin: 5% 0%;
  text-align: center;
}
#main-info div {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
}
@media (max-width: 576px) {
  #main-info div {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: none;
  }
}
#main-info div p {
  width: 30%;
  margin: 2% 5%;
}
@media (max-width: 576px) {
  #main-info div p {
    width: 80%;
    margin: 0% 10%;
  }
}
#main-info div img {
  width: 23%;
  position: relative;
  left: 14%;
  border-radius: 10px;
  margin: 2% 0%;
}
@media (max-width: 576px) {
  #main-info div img {
    width: 40%;
    position: relative;
    left: 30%;
  }
}

#main-tutoriales h1 {
  color: beige;
  background-image: linear-gradient(to left, rgb(119, 0, 99), rgb(170, 0, 0));
  text-align: center;
  margin: 5% 25%;
  border-radius: 10px;
}
#main-tutoriales ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  padding: 0%;
}
@media (max-width: 576px) {
  #main-tutoriales ol {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: none;
  }
}
#main-tutoriales ol li {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
  width: 22%;
  margin: 3% 5%;
}
@media (max-width: 576px) {
  #main-tutoriales ol li {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    align-items: none;
    margin: 3% 38%;
  }
}
#main-tutoriales ol li div {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: none;
}
#main-tutoriales ol li div p {
  background-image: linear-gradient(to left, rgb(161, 55, 129), rgb(255, 0, 64));
  width: 60%;
  height: 40px;
  padding: 0% 20%;
  color: beige;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  border-radius: 25% 75% 21% 79%/64% 47% 53% 36%;
}
@media (max-width: 576px) {
  #main-tutoriales ol li div p {
    padding: 0% 70%;
  }
}
@media (max-width: 576px) {
  #main-tutoriales ol li iframe {
    width: 300%;
    position: relative;
    left: -90%;
  }
}
#main-tutoriales h4 {
  color: beige;
  background-image: linear-gradient(to left, rgb(119, 0, 99), rgb(170, 0, 0));
  text-align: center;
  margin: 3% 10%;
  border-radius: 10px;
}
#main-tutoriales h4 a {
  text-decoration: none;
}

#main-tipos-de-cubos h1 {
  color: beige;
  background-image: linear-gradient(to left, rgb(119, 0, 99), rgb(170, 0, 0));
  margin: 4% 30%;
  border-radius: 10px;
  text-align: center;
}
#main-tipos-de-cubos .p-tipos-de-cubos {
  color: beige;
  background-image: linear-gradient(to left, rgb(119, 0, 99), rgb(170, 0, 0));
  text-align: center;
  margin: 4% 25%;
  border-radius: 10px;
}
@media (max-width: 576px) {
  #main-tipos-de-cubos .p-tipos-de-cubos {
    margin: 4% 15%;
  }
}
#main-tipos-de-cubos ol {
  color: beige;
  background-image: linear-gradient(to left, rgb(119, 0, 99), rgb(170, 0, 0));
  width: 25%;
  margin: 3% 2%;
  border-radius: 10px;
}
#main-tipos-de-cubos ol li a {
  text-decoration: none;
}
@media (max-width: 576px) {
  #main-tipos-de-cubos ol {
    width: 30%;
  }
}
#main-tipos-de-cubos div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: none;
  align-items: none;
  margin: 5% 0%;
}
@media (max-width: 576px) {
  #main-tipos-de-cubos div {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: none;
  }
}
#main-tipos-de-cubos div h2 {
  background-image: linear-gradient(to left, rgb(119, 0, 99), rgb(170, 0, 0));
  color: beige;
  width: 100%;
  text-align: center;
}
#main-tipos-de-cubos div div {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
}
#main-tipos-de-cubos div div p {
  color: beige;
  width: 35%;
  margin: 5% 3%;
}
@media (max-width: 576px) {
  #main-tipos-de-cubos div div p {
    width: 100%;
    text-align: center;
    margin: 0% 5%;
  }
}
#main-tipos-de-cubos div div img {
  width: 22%;
  position: relative;
  left: 20%;
  margin: 5% 0%;
}
@media (max-width: 576px) {
  #main-tipos-de-cubos div div img {
    width: 60%;
    position: relative;
    left: 20%;
  }
}

.main-fridrich h1 {
  color: beige;
  background-image: linear-gradient(to left, rgb(119, 0, 99), rgb(170, 0, 0));
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: none;
  margin: 2% 30%;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .main-fridrich h1 {
    margin: 2% 10%;
  }
}
.main-fridrich p {
  color: beige;
  text-align: center;
  margin: 0% 15%;
}
.main-fridrich ol {
  color: beige;
  background-image: linear-gradient(to left, rgb(119, 0, 99), rgb(170, 0, 0));
  width: 30%;
  border-radius: 10px;
  margin: 5% 2%;
}
.main-fridrich ol li a {
  text-decoration: none;
}
.main-fridrich h2 {
  color: beige;
  background-image: linear-gradient(to left, rgb(119, 0, 99), rgb(170, 0, 0));
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9%;
}
.main-fridrich div {
  color: beige;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
  margin: 3% 0%;
}
@media (max-width: 576px) {
  .main-fridrich div {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: none;
  }
}
.main-fridrich div p {
  text-align: left;
  width: 50%;
  margin: 5% 2%;
}
@media (max-width: 576px) {
  .main-fridrich div p {
    text-align: center;
    width: 80%;
    margin: 5% 10%;
  }
}
.main-fridrich div div {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
  position: relative;
  left: 10%;
}
@media (max-width: 576px) {
  .main-fridrich div div {
    width: 50%;
    position: relative;
    left: 25%;
  }
}
.main-fridrich div div p {
  width: 100%;
  margin: 0%;
}
.main-fridrich div ul {
  color: beige;
  background-image: linear-gradient(to left, rgb(119, 0, 99), rgb(170, 0, 0));
  list-style-type: none;
  padding: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: none;
  align-items: none;
}
.main-fridrich div ul li {
  width: 50%;
  font-size: small;
  margin: 2% 0%;
}
.main-fridrich div ul li img {
  width: 20%;
}
@media (max-width: 576px) {
  .main-fridrich div ul li img {
    width: 20%;
  }
}
@media (max-width: 576px) {
  .main-fridrich div ul li {
    width: 100%;
  }
}
.main-fridrich section {
  color: beige;
}
.main-fridrich section h3 {
  margin: 50px 25px;
}
.main-fridrich section ul {
  background-image: linear-gradient(to left, rgb(119, 0, 99), rgb(170, 0, 0));
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: none;
  align-items: none;
  list-style-type: none;
  padding: 0%;
}
.main-fridrich section ul li {
  width: 50%;
  font-size: small;
  margin: 2% 0%;
}
.main-fridrich section ul li img {
  width: 20%;
}
@media (max-width: 576px) {
  .main-fridrich section ul li img {
    width: 30%;
  }
}
@media (max-width: 576px) {
  .main-fridrich section ul li {
    width: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
