body{
    background-image: map-get($map: $colores, $key: primario);
}
#main-index{
    #bloque1{
        @include flexbox(row, none, none, none);
        @include mediaquery-mobile(){
            @include flexbox(column, none, none, center);
        }
        .seccion{
            color:map-get($map:$colores, $key:color-text);
            margin: 0% 5%;
            background-image: map-get($map: $colores, $key: secundario);
            width: 40%;
            border-radius: 30px;
        }
        .seccion1{
            @extend .seccion;
            @include mediaquery-mobile(){
                width: 80%;
                margin: 10% 0%;
            }
            h1{
                text-align: center;
            }
            img{
                border-radius: 30px;
                margin: 5% 17%;
                @include mediaquery-mobile(){
                    width: 80%;
                    margin: 5% 10%;
                }
            }
            p{
                margin: 5% 10%;
            }
        }
        .seccion2{
            @extend .seccion;
            @include mediaquery-mobile(){
                width: 80%;
                margin: 10% 0%;
            }
            h2{
                text-align: center;
            }
            .record1{
                text-align: center;
                margin: 5% 0%;
            }
            .record2{
                text-align: center;
                margin: 5% 0%;
            }
            iframe{
                position: relative;
                top: 0px;
                left: 16%;
            }
            h3{
                margin: 10px 10px;
            }
            a{
                margin: 20px;
                text-decoration: none;
            }
        }
    }
    .seccion3{
        background-image: map-get($map: $colores, $key: secundario);
        border-radius: 50px;
        width: 75%;
        color:map-get($map:$colores, $key:color-text);
        margin: 5% 12%;
        h3{
            text-align: center;
        }
        ol{
            @include flexbox(row, wrap, center, center);
            padding: 0%;
            @include mediaquery-mobile(){
                @include flexbox(column, none, none, center);
            }
            li{
                @include flexbox(column, none, none, center);
                list-style-type: none;
                width: 33%;
                margin: 2% 0%;
                @include mediaquery-mobile(){
                    width: 70%;
                }
                p{
                    margin: 5% 0%;
                }
                img{
                    width: 40%;
                    border-radius: 20px;
                }
            }
        }
    }
}