#main-info{
    h1{
        color:map-get($map:$colores, $key:color-text);
        background-image: map-get($map:$colores, $key:secundario);
        margin: 4% 25%;
        border-radius: 10px;
        text-align: center;
    }
    .p-info{
        color:map-get($map:$colores, $key:color-text);
        position: relative;
        left: 25%;
        width: 50%;
        text-align: center;
    }
    h2{
        color:map-get($map:$colores, $key:color-text);
        background-image: map-get($map:$colores, $key:secundario);
        width: 25%;
        height: 6%;
        border-radius: 10px;
        margin: 5% 0%;
        text-align: center;
    }
    div{
        p{
            color:map-get($map:$colores, $key:color-text);
            width: 30%;
        }
        img{
            position: relative;
            left: 14%;
            border-radius: 10px;
            margin: 2% 0%;
        }
    }
}