#main-info{
    h1{
        color:map-get($map:$colores, $key:color-text);
        background-image: map-get($map:$colores, $key:secundario);
        margin: 4% 25%;
        border-radius: 10px;
        text-align: center;
    }
    .p-info{
        color:map-get($map:$colores, $key:color-text);
        position: relative;
        left: 25%;
        width: 50%;
        text-align: center;
    }
    h2{
        color:map-get($map:$colores, $key:color-text);
        background-image: map-get($map:$colores, $key:secundario);
        width: 100%;
        height: 6%;
        margin: 5% 0%;
        text-align: center;
    }
    div{
        @include flexbox(row, none, none, none);
        @include mediaquery-mobile(){
            @include flexbox(column, none, none, none);
        }
        p{
            width: 30%;
            margin: 2% 0%;
            @include mediaquery-mobile(){
                width: 80%;
                margin: 0% 10%;
                text-align: center;
            }
        }
        img{
            width: 23%;
            position: relative;
            left: 14%;
            border-radius: 10px;
            margin: 2% 0%;
            @include mediaquery-mobile(){
                width: 40%;
                position: relative;
                left: 30%;
            }
        }
    }
}