a { color: yellow; }
#main-tipos-de-cubos{
    h1{
        color:map-get($map:$colores, $key:color-text);
        background-image: map-get($map:$colores, $key:secundario);
        margin: 4% 30%;
        border-radius: 10px;
        text-align: center;
    }
    .p-tipos-de-cubos{
        color:map-get($map:$colores, $key:color-text);
        background-image: map-get($map:$colores, $key:secundario);
        text-align: center;
        margin: 4% 25%;
        border-radius: 10px;
        @include mediaquery-mobile(){
            margin: 4% 15%;
        }
    }
    ol{
        color: map-get($map:$colores, $key:color-text);
        background-image: map-get($map:$colores, $key:secundario);
        width: 25%;
        margin: 3% 2%;
        border-radius: 10px;
        li{
            a{
                text-decoration: none;
            }
        }
        @include mediaquery-mobile(){
            width: 30%;
        }
    }
    div{
        @include flexbox(row, wrap, none, none);
        margin: 5% 0%;
        @include mediaquery-mobile(){
            @include flexbox(column, none, none, none);
        }
        h2{
            background-image: map-get($map:$colores, $key:secundario);
            color:map-get($map:$colores, $key:color-text);
            width: 100%;
            text-align: center;
        }
        div{
            @include flexbox(row, none, none, none);
            p{
            color:map-get($map:$colores, $key:color-text);
            width: 35%;
            margin: 5% 3%;
            @include mediaquery-mobile(){
                width: 100%;
                text-align: center;
                margin: 0% 5%;
            }
            }
            img{
                width: 22%;
                position: relative;
                left: 20%;
                margin: 5% 0%;
                @include mediaquery-mobile(){
                    width: 60%;
                    position: relative;
                    left: 20%;
                }
            }
        }
    }
}