#main-tutoriales{
    h2{
        color:map-get($map:$colores, $key:color-text);
        background-image: map-get($map:$colores, $key:secundario);
        text-align: center;
        margin: 5% 30%;
        border-radius: 10px;
    }
    ol{
        @include flexbox(row, wrap, center, none);
        padding: 0%;
        @include mediaquery-mobile(){
            @include flexbox(column, none, none, none);
        }
        li{
            @include flexbox(column, none, none, none);
            width: 22%;
            margin: 3% 5%;
            @include mediaquery-mobile(){
                @include flexbox(column, none, center, none);
                margin: 3% 38%;
            }
            div{
                @include flexbox(none, none, center, none);
                p{
                    background-image: map-get($map:$colores, $key:terciario);
                    width: 60%;
                    height: 40px;
                    color:map-get($map:$colores, $key:color-text);
                    @include flexbox(none, none, center, center);
                    border-radius: 25% 75% 21% 79% / 64% 47% 53% 36%;
                }
            }
            iframe{
                @include mediaquery-mobile(){
                    width: 300%;
                    position: relative;
                    left: -90%;
                }
            }
        }
    }
    h4{
        color:map-get($map:$colores, $key:color-text);
        background-image: map-get($map:$colores, $key:secundario);
        text-align: center;
        margin: 3% 10%;
        border-radius: 10px;
    }
}