footer{
    background-image: linear-gradient(to left, lightblue, rgb(59, 123, 184));
    ul{
        @include flexbox(row, none, space-between, none);
        padding: 0%;
        margin: 0%;
        list-style-type: none;
        p{
            text-align: center;
            margin: 0%;
        }
    }
}