$colores:(
    primario: linear-gradient(to left, rgb(9, 0, 87), #01172F),
    secundario: linear-gradient(to left, rgb(42, 42, 110), black),
    terciario: linear-gradient(to left, rgb(161, 55, 55), pink),
    color-text: beige,
);